/* /html/fakta.html */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 500px;
  margin: auto;
}
html {
  font-family: cursive;
}
nav {
  margin-bottom: 25px;
}
nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ol li a {
  text-decoration: none;
}
nav ol li a:hover {
  text-decoration: none;
  background-color: #4053e7;
  transition-duration: 0.5s;
  color: white;
}
h2,h3,h4 {
  text-align: center;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
header {
  text-align: center;

}
header h2 {
  letter-spacing: 1px;
  height: 8em;
  display: inline;
  text-align: center;
}
header img {
 width: 40px;
 max-height: 20px;
}
ol {
  list-style-type: none;
}
#gillarmat {
  margin-top: 40px;
}
main #bilder_titel {
  margin-top: 50px;
}
main .bild {
  width: 400px;
  margin: auto;
  display: block;
}
main section{
  max-width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
main section ol {
  margin-left: 20px;
  list-style: square;
}
#gurka {
  margin-top: 25px;
  width: 400px;
}
footer {
  margin: 50px auto auto auto;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  background-color: #4053e7;
  transition-duration: 0.5s;
  color: white;
}
