* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url('../img/trollhättan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    margin: auto;
    margin-bottom: 25px;
    width: 500px;
  }
  nav ol {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  nav ol li a {
    text-decoration: none;
  }
  nav ol li a:hover {
    text-decoration: none;
    background-image: url(../img/carl-mörker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    color: white;
  }
  body {
    margin: auto;
  }
  html {
    font-family: cursive;
  }
  h1 {
    text-align: center;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: 180px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }
  footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#6cf;
    text-align: center;
  }
  footer a {
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: none;
    background-color: #4053e7;
    transition-duration: 0.5s;
    color: white;
  }
