* {
    background-image: url('../img/carl-gurka.jpg');
    margin: 0;
    padding: 0;
  }
  body {
    margin: auto;
  }
  html {
    font-family: cursive;
  }
  h1 {
    text-align: center;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 180px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }