/* Index.html */
* {
  background-image: url('/img/limpa.jpg');
  margin: 0;
  padding: 0;
}
html {
  font-family: cursive;
}
nav {
  margin-bottom: 25px;
}
nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ol li a {
  text-decoration: none;
}
nav ol li a:hover {
  text-decoration: none;
  background-color: #4053e7;
  transition-duration: 0.5s;
  color: white;
}
body {
  width: 500px;
  margin: auto;
}
html {
  font-family: cursive;
}
h1 {
  text-align: center;
}
main img {
  max-width: 300px;
  margin: auto;
  display: block;
  margin-top: 20px;
}
footer {
  margin: 35px auto auto auto;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  background-color: #4053e7;
  transition-duration: 0.5s;
  color: white;
}
