/* Index.html */
* {
  background-image: url('../img/carl-gurka.jpg');
  margin: 0;
  padding: 0;
}
body {
  width: 500px;
  margin: auto;
}
html {
  font-family: cursive;
}
h1 {
  text-align: center;
}
